@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

.sidenav {
	height: 100%;
	width: 280px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(50, 58, 77);
	overflow-x: hidden;
	padding-top: 20px;

	img {
		width: 80px;
	}
	h1 {
		font-family: "Yanone Kaffeesatz", sans-serif;
		margin-top: -55px;
		color: white;
		margin-left: 90px;
		margin-bottom: 90px;
	}
}

.sidenav a {
	padding: 6px 8px 0px 16px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	font-family: "Yanone Kaffeesatz", sans-serif;
	i {
		margin-right: 8px;
	}
}

.sidenav a:hover {
	color: black;
}

.main {
	margin-left: 200px; /* Same as the width of the sidenav */
	font-size: 18px; /* Increased text to enable scrolling */
	padding: 0px 10px;
	margin-left: 19%;
	.row {
		width: 90%;
		margin-left: 5px;
		margin-top: 10%;
	}
	table {
		font-size: large;
	}
	.tambah {
		float: right;
		margin-bottom: 10px;
		margin-top: -55px;
		font-size: 15px;
	}
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
.navbar {
	font-size: 50px;
	margin-left: 280px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 84%;
	background-color: rgb(221, 218, 228);
	img {
		width: 80px;
	}
	h1 {
		font-family: "Yanone Kaffeesatz", sans-serif;
		margin-top: 15px;
		color: white;
	}
	.collapse {
		form {
			margin-right: 3px;
			img {
				width: 40px;
			}
			h5 {
				color: black;
				padding-right: -20px;
			}
			li {
				margin-top: -15px;
			}
		}
	}
}
.main {
	.prev {
		a {
			text-decoration: none;
			display: inline-block;
			padding: 8px 16px;
		}

		a:hover {
			background-color: #ddd;
			color: black;
		}

		.previous {
			background-color: #f1f1f1;
			color: black;
		}

		.round {
			border-radius: 50%;
		}
	}
}
