@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

.text-center {
	.image {
		width: 120px;
		margin-top: -10px;
	}
}
.col-lg {
	border: 0px solid black;
	border-radius: 20px;
	width: 80%;
	background-color: white;
}

// .form-inline {
// 	label {
// 		padding-bottom: 5px;
// 	}
// }

.small {
	padding-top: 5px;
	text-decoration: none;
	a {
		text-decoration: none;
	}
}
.input-group-prepend i {
	height: 10px;
}
.navbar {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(221, 218, 228);
	img {
		width: 80px;
	}
	h1 {
		font-family: "Yanone Kaffeesatz", sans-serif;
		margin-top: 15px;
		color: black;
	}
	.collapse {
		form {
			margin-right: 3px;
			img {
				width: 40px;
			}
			h5 {
				color: black;
				padding-right: -20px;
			}
			li {
				margin-top: -15px;
			}
		}
	}
}
.dropdown {
	.btn {
		background-color: none;
	}
	.dropdown-menu {
		width: 30px;
	}
}
.main {
	.prev {
		a {
			text-decoration: none;
			display: inline-block;
			padding: 8px 16px;
		}

		a:hover {
			background-color: #ddd;
			color: black;
		}

		.previous {
			background-color: #f1f1f1;
			color: black;
		}

		.round {
			border-radius: 50%;
		}
	}
}
